<!--
                    _ooOoo_
                   o8888888o
                   88" . "88
                   (| -_- |)
                   O\  =  /O
                ____/`---'\____
              .'  \\|     |//  `.
             /  \\|||  :  |||//  \
            /  _||||| -:- |||||-  \
            |   | \\\  -  /// |   |
            | \_|  ''\---/''  |   |
            \  .-\__  `-`  ___/-. /
          ___`. .'  /--.--\  `. . __
       ."" '<  `.___\_<|>_/___.'  >'"".
      | | :  `- \`.;`\ _ /`;.`/ - ` : | |
      \  \ `-.   \_ __\ /__ _/   .-` /  /
 ======`-.____`-.___\_____/___.-`____.-'======
                    `=---='
 ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
            佛祖保佑       永无BUG
-->
<!DOCTYPE html>
<html class="full">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-material-design.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/ripples.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/ctf.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/rex.css') }}">
        <script src="{{ url_for('static', filename='js/jquery-1.11.0.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/material.js') }}"></script>
        <script src="{{ url_for('static', filename='js/ripples.min.js') }}"></script>
        <script>$.material.init();</script>
        <title>{{ lang.frame.title }}</title>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">{{ lang.frame.toggle }}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">{{ lang.frame.title }}</a>
            </div>
            {% if not login %}
            <div class="navbar-collapse collapse">
              <form class="navbar-form navbar-right" role="form" method="post" autocomplete="off">
                <div class="form-group label-placeholder">
                  <label for="user" class="control-label">Username</label>
                  <input type="text" class="form-control" name="user" id="user">
                </div>
                <div class="form-group label-placeholder">
                  <label for="password" class="control-label">Password</label>
                  <input type="password" class="form-control" name="password" id="password">
                  <input type="password" style="position:absolute;top:-1000em">
                </div>
                <button formaction="/login" type="submit" class="btn btn-success">{{ lang.frame.login }}</button>
                <!-- <a href="/register"><button type="button" class="btn btn-success">{{ lang.frame.register }}</button></a> -->
              </form>
            </div>
            {% else %}
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/about">{{ lang.about.title }}</a></li>
                <li><a href="/tasks">{{ lang.tasks.title }}</a></li>
                <li><a href="/scoreboard">{{ lang.scoreboard.title }}</a></li>
              </ul>
              <form class="white navbar-form navbar-right">
                {{ lang.frame.logged_in }} {{ user.username }} | <a href="/logout">{{ lang.frame.logout}}</a>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
        {% include page %}
        <div class="navbar-default navbar-fixed-bottom">
          <div class="container">
            <div class="powered-by">Powered by <a href="https://www.summershrimp.com/">summershrimp</a> and <a href="https://www.rexskz.info/">skywalker_z</a>.</div>
          </div>
        </div>
        <script>
          $.material.init();
          console.log("欢迎来到NUAACTF2016！");
        </script>
    </body>
</html>
