<div class="landing-page container">
  <div class="rs-category">
    {% for category in categories %}
      <div class="chall-box chall-category rs-problem">
        {{ category.name }}
      </div>
    {% endfor %}
  </div>

  {% for row in grid %}
    <div class="rs-category">
    {% for task in row %}
      {% if task %}
        <button class="btn chall-box chall-task rs-problem {% if task.id in flags %}chall-done{% endif %}"
                onclick="location.href='/tasks/{{ task.short_name|lower }}/{{ task.row }}';return false;">
          {{ task.short_name }}{{ task.score }}
        </button>
      {% else %}
        <div class="chall-box chall-hidden rs-problem">
          &nbsp;
        </div>
      {% endif %}
    {% endfor %}
    </div>
  {% endfor %}
  
</div>

<script src="{{ url_for('static', filename='js/tasks.js') }}"></script>
